@tailwind base;
@tailwind components;
@tailwind utilities;


.tabla {
  width: 100%;
  padding: 10px;
  margin: 10px; 
  overflow-y: scroll;
}

td, th {
  padding: 10px;
  /* width: 25%; */
  /* border: 1px solid #ddd; */
  text-align: center;
}

.tabla th {
  background-color: rgb(46, 180, 28);
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

input{
  border: 1px double #999;
  border-radius: 5px;
  margin: 0%;
  -webkit-appearance: none;
}

form{
  padding: 15px;
  max-width: 400px;
  background-color: #E7E7E7;
  margin: 20px auto;
}

form input, form textarea{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: horizontal; 
}

form button {
	display: block;
	background-color: #0095eb;
	padding: 10px 45px 10px 45px;
  margin: 10px;
	border-radius: 10px;
	font-size: 1em; 
	color: 	white;
  font-family: "Roboto", sans-serif;
}

form button:hover{
	background-color: #046193;
}